.DayForecast {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.DayForecast .day {
  text-transform: uppercase;
  color: white;
  position: absolute;
}

.DayForecast h1, .DayForecast h5 {
  margin-left: 30px;
  text-transform: uppercase;
  color: white;
}

.DayForecast h1 {
  font-weight: 800;
  margin-bottom: 0;
  min-height: 78px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-right: 30px;
}

.DayForecast h5 {
  font-weight: 200;
  font-size: .8em;
  letter-spacing: .5px;
  margin-top: 20px;
  margin-bottom: 0;
}

.DayForecast .Meme {
  display: block;
  width: 65%;
  margin: 5% auto;
}

.DayForecast aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2em;
  color: white;
  user-select: none;
  display: none;
}

.DayForecast:active aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
